
/* inicio barra menu */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    width: 7em;
    height: 7em;
    padding: 1em 1em;
} 


header{
    background-color: #06334b;
    width: 100%;
    height: 7em;
}     
.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
}  
.contenedor a{
    display: inline-block;
    text-decoration: none;
    color: #a9b6c3;
    font-weight: bold;
}
span img{
    width: 2em;
    height: 2em;
    display: none;
}
@media screen and (max-width: 535px){
    .logo{
        width: 5em;
        height: 5em;
        padding: 1em 1em;
    } 
    header{
        background-color: #06334b;
        width: 100%;
        height: 5em;
    } 
    span img{
        display: inline-flex;
    }
    span{
        padding-right: 1em;
    }
    .contenedor a{
        position: fixed;
        width: 100vw;
        height: calc(100%-5em);
        background-color: #06334b;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .contenedor a{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
}
/* fin barra menu */

/* inicio pagina preincipal */
.inicio{
    background-image: url(../img/inicio.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.inicio h1{
    font-family: 'Poppins', sans-serif;
    color: #112731;
    padding-right: 2em;
    font-size: 2em;
    margin-bottom: 1em;
}
.inicio p{
    padding-right: 2em;
    text-align: center;
    font-weight: bold;
    margin-right: 1em;
}
/* fin pagina principal */

/* inicio alquiler */
.depas{
    background-color: #dcedff;
}
.imagen{
    width: 20em;
    height: 20em;
}
.ubi{
    width: 100%;
    height: 20em;
    margin-bottom: 1em;
}
.depas h2{
    color: #a9b6c3;
    text-align: center;
    background-color: #06334b;
    padding: 2em;
    margin: 0 1em 1em 1em;
}
.depas p{
    color: #06334b;
}
.depas h3{
    text-align: center;
    color: #06334b;
}
.depto1{
    display: flex;
    flex-direction: column;
}
.depto2{
    display: flex;
    flex-direction: column;
}
.depto3{
    display: flex;
    flex-direction: column;
}

/* fin alquiler */

/* inicio preguntas y comentarios */
.preguntas{
    background-color: #eff4f8;
}
.preg h1{
    color: #a9b6c3;
    text-align: center;
    padding: 2em 2em;
    background-color: #06334b;

}
.preguntas h2{
    color: #06334b;
    font-weight: bold;
    padding: 2em 2em;
}
.preguntas p{
    color: #112731;
    padding: 0 4em;

}
.contacto h3{
    text-align: center;
    color: #06334b;
    padding: 1em 0;
}
.contacto p{
    text-align: center;
    color: #112731;
    padding: 1em 1em;
}
.contacto form{
    padding: 0 10em ;
    margin: 2em 6em;
}
.contacto{
    background-color: #eff4f8;
}
/* fin preguntas y comentarios */
.contacto p{
    padding: 0;
}
/* inicio footer */

footer section img{
    width: 7em;
    height: 7em;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #06334b
}
footer li{
    list-style: none;
    font-weight: bold;
    color: #a9b6c3;
}
footer h2{
    margin-top: 1EM;
    font-weight: bold;
    color: #a9b6c3;
}
.redes a{
    display: flex;
    width: 2em;
    height: 2em;
    margin: 0 2em;
    display: inline-block;
}
.list{
    display: flex;
    align-items: center;
    margin-left: 1em;
}
.fn{
    display: inline-block;
}
footer .fn{
    justify-content: center;
}

/* fin footer */ 
